.Home {

  position: relative;
  min-height: 100vh;
  width: 100%;
  padding-top: 120px; /* Ajuste conforme a altura da NavBar */
}

.CabecalhoBackground {
  background: url('/Degrade.svg') no-repeat top center;
  background-size: 100% auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50vh;
  z-index: 1; /* Define um z-index menor que o da NavBar */
}

.Drone {
  position: absolute;
  z-index: 2;
  top: 3%;
  right: 50%;
}

.Review {
  position: absolute;
  z-index: 2;
  max-width: 400px;
  top: 8%;
  right: 15%;
}

.explicacao {
  position: relative;
  top: 500px;
  z-index: 2;
  left: 300px;
}

.Podium {
  position: relative;
  top: 700px;
  z-index: 2;
  left: 150px;
}





