body,html {
  background: url('/Degrade.svg') no-repeat top center;
 
}

.Drone {
  position: absolute;
  z-index: 1;
  top: 3.5%;
  right: 50%;

}

.Review {
  position: absolute;
  z-index: 1;
  max-width: 400px;
  top: 13%;
  right: 15%;
}

.explicacao {
  position: absolute;
  top: 500px ;
  z-index: 1;
  left: 300px;

}

.Podium {

  position: absolute;
  top: 1200px ;
  z-index: 1;
  left: 150px;

}






