.home {
  
    background-image: url('./Pages/Home/fundoHome.svg');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
  .podium {
  margin-left: 10%;
  
  }
  
  .drone {
    align-items: left;
    margin-top: 20vh;
    margin-left: 9vw;
    width: 80%;
  }
  