.footer {
    width: 100%;
    padding: 20px 20px;
    background-color: #2F592E;
    color:#C3F98F;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    margin: 0 auto;
    position: relative;
  }

  .container{
    align-items: center;
    margin-left: 450px;
  }

  ul  {
    align-items: center;
    display: flex;
    list-style: none;
    gap: 50px;
  }

  h1 {
    color: #C3F98F;
    font-size: 1.9rem;
  
  }

  p{
    font-size: 1.5rem;    
  }

  .team{
    color: white;
    font-size: 1.4rem;
    margin-top: 20px;
    margin-left: 350px;
  }

  .teamLink{
    text-decoration: none;
    color: #7FBD42;
  }

  .teamLink:hover{
    color: #94dd4b;
    text-decoration: underline;
  }
  
  